body {
    background: linear-gradient(to bottom, #aff1ee, #fff);
    min-height: 100vh;

}
h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#divInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#divSignUpInputs {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 10px solid #fff;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    height: 40vh;
    width: 100vh;
}
.inputClass {
    font-family: 'Times New Roman', Times, serif;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}
.someButtons {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    margin-top: 20px;
    height: 8vh;
    width: 50vh;
    border-radius: 50em;
    border-color: rgb(241, 147, 118);
    background-color: rgb(241, 147, 118);
}
.someButtons:hover{
    background-color: hsla(0, 61%, 24%, 0.877);
}